<table class="table table-dark table-responsive-xl">
  <thead>
  <th scope="col">
    ID
  </th>
  <th scope="col">
    Tytuł
  </th>
  <th scope="col">
    Opis
  </th>
  <th scope="col">
    Modification
  </th>
  <th scope="col">
    Remove
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let priceList of priceLists">
    <td>
      {{ priceList.id }}
    </td>
    <td>
      {{ priceList.name }}
    </td>
    <td>
      {{ priceList.description }}
    </td>
    <td>
      <a class="btn btn-success">
        Edycja
      </a>
    </td>
    <td>
      <a class="btn btn-danger">
        Usuń
      </a>
    </td>
  </tr>
  </tbody>
</table>
