<table class="table table-dark table-responsive-xl">
  <thead>
  <th scope="col">
    ID
  </th>
  <th scope="col">
    Tytuł
  </th>
  <th scope="col">
    Produkty
  </th>
  <th scope="col">
    Modification
  </th>
  <th scope="col">
    Remove
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>
      {{ category.id }}
    </td>
    <td>
      {{ category.name }}
    </td>
    <td>
      <ul *ngFor="let product of category.products">
        <li>{{ product.name }}</li>
      </ul>
    </td>
    <td>
      <a class="btn btn-success">
        Edycja
      </a>
    </td>
    <td>
      <a class="btn btn-danger">
        Usuń
      </a>
    </td>
  </tr>
  </tbody>
</table>
