<table class="table table-dark table-responsive-xl">
  <thead>
  <th scope="col">
    ID
  </th>
  <th scope="col">
    Obrazek
  </th>
  <th scope="col">
    Typ
  </th>
  <th scope="col">
    Modification
  </th>
  <th scope="col">
    Remove
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let attachmant of attachmants">
    <td>
      {{ attachmant.id }}
    </td>
    <td>
      {{ attachmant.name }}
    </td>
    <td>
      {{ attachmant.extension }}
    </td>
    <td>
      <a class="btn btn-success">
        Edycja
      </a>
    </td>
    <td>
      <a class="btn btn-danger">
        Usuń
      </a>
    </td>
  </tr>
  </tbody>
</table>
