<table class="table table-dark table-responsive-xl">
  <thead>
  <th scope="col">
    ID
  </th>
  <th scope="col">
    Nazwa produktu
  </th>
  <th scope="col">
    Opis produktu
  </th>
  <th scope="col">
    Kategorie
  </th>
  <th scope="col">
    Modification
  </th>
  <th scope="col">
    Remove
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.name }}
    </td>
    <td>
      {{ product.description }}
    </td>
    <td>
      <ul *ngFor="let category of product.category">
        <li> {{ category.name}}</li>
      </ul>
    </td>
    <td>
      <a class="btn btn-success">
        Edycja
      </a>
    </td>
    <td>
      <a class="btn btn-danger">
        Usuń
      </a>
    </td>
  </tr>
  </tbody>
</table>
