<table class="table table-dark table-responsive-xl">
<thead>
  <th scope="col">
    ID
  </th>
  <th scope="col">
    Name
  </th>
  <th scope="col">
    Surname
  </th>
  <th scope="col">
    Email
  </th>
  <th scope="col">
    Roles
  </th>
  <th scope="col">
    Price Lists
  </th>
  <th scope="col">
    Modification
  </th>
  <th scope="col">
    Remove
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>
      {{ user.id }}
    </td>
    <td>
      {{ user.name }}
    </td>
    <td>
      {{ user.surname }}
    </td>
    <td>
      {{ user.email }}
    </td>
    <td>
      {{ user.roles }}
    </td>
    <td>
      {{ user.priceLists.name }}
    </td>
    <td>
      <a class="btn btn-success">Edycja</a>
    </td>
    <td>
      <a class="btn btn-danger">
        Usuń
      </a>
    </td>
  </tr>
  </tbody>
</table>
